@* Pages/Shared/_TopNav.cshtml *@
<link rel="stylesheet" href="/css/app.css" />

<nav class="topnav">
  <div class="inner">
    <a class="brand" href="/library">VideoIndex</a>
    <a href="/library">Library</a>
    <a href="/scan">Scan</a>
    <a href="/roots">Roots</a>
    <span class="spacer"></span>
  </div>
</nav>

<main class="page">