@* Pages/Shared/_TopNav.cshtml *@
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VideoIndexer</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

<nav class="topnav">
  <div class="inner">
    <a class="brand" href="/library">VideoIndex</a>
    <a href="/library">Library</a>
    <a href="/scan">Scan</a>
    <a href="/roots">Roots</a>
    <span class="spacer"></span>
  </div>
</nav>

<main class="page">